<div class="container">
  <footer class="footer">
    <small>
      Copyriqgt &copy; <a href="https://www.udemy.com">The Complete Ruby on Rails Developer</a>
      by Daniel Pisek
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path  %></li>
      </ul>
    </nav>
  </footer>
</div>